body {
    background-color: #111;
    color: #0dad8a;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
    color: #1cb3ca;
}

.container {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    max-width: 750px;
    margin: auto;
    box-shadow: 0px 0px 12px #000;
}

.section-title {
    font-size: 22px;
    margin-top: 15px;
    border-bottom: 1px solid #444;
    padding-bottom: 4px;
    color: #f1f7f6;
}

.input-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.input-grid .full {
    grid-column: span 2;
}

label {
    color: #c9d4d6;
    font-size: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #222;
    color: #fff;
}

.button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #2ed0bd;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background: #add2cf;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #222;
    border-radius: 8px;
    line-height: 26px;
    color: #e5e5e5;
}
